.tasks {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.tasks__item--hidden {
    display: none;
}

.tasks__itemContent {
    margin: 0;
    align-self: center;
}

.tasks__itemContent--done {
    text-decoration: line-through;
}

.tasks__button {
    border: 0;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    color:white;
    transition: background-color 0.3s;
}

.tasks__buttonDone {
    background-color: hsl(116deg 72% 27%);
}

.tasks__buttonDone:hover {
    background-color: hsl(116deg 72% 37%);
}

.tasks__buttonRemove {
    background-color:hsl(0deg 79% 44%);
}

.tasks__buttonRemove:hover {
    background-color:hsl(0deg 79% 55%);
}